.btn {
    z-index: 100;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2.5px solid transparent;
    padding:  8px 5px;
    border-radius: 50px ;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: all .3s ease-out;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    position: relative;

    --color-bg: hsl(0, 0%, 100%);

}

.btn-outline-hotter {
    background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, #4340CB, #CB40B5,#DE643E) border-box;
}

.btn-outline-hotter::before {
    background-image: linear-gradient(90deg, #4340CB 0%, #CB40B5 49%, #DE643E 100%);
}

.btn-outline-cold {
    background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
         linear-gradient(to right, #14C0AC, #404ECB,#CB40B5) border-box;
}

.btn-outline-cold::before {
    background-image: linear-gradient(90deg, #14C0AC 0%, #404ECB 49%, #CB40B5 100%);
   
}


.btn span .j {
    background: #FFFFFF; 
    background-position-x: center;
    background-size: 104%;

    
    cursor: pointer;
    width: 100%;
    display: inline-block;
    background: #FFFFFF;
    color: #000000;
    padding:  8px 5px;
    /*padding:  8px 33px; */
    border-radius: 17.5px ;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    transition: all .3s ease-out;
}




.btn::before {
    top: 0;
    right: 0;

    border-radius: 50px ;
    transition: 0.3s all ease;
    z-index: -1;
    display: block;
    content: "";
    opacity: 0;
    position: absolute;
    width: calc(100%  );
    height: calc(100%  );
    background-color: #000000;
}





.btn:hover:not([disabled])  {
    color: #FFFFFF;
   background: unset;
    
}

.btn:hover:not([disabled])::before  {
    opacity: 1;
}

.disabled {
    filter: grayscale(99%);    
}

.disabled.btn  {
    background-image: linear-gradient(90deg, #14C0AC 0%, #404ECB 49%, #CB40B5 100%);
}


.btn-svg{
    width: auto;
    background: none;
    margin-left: auto;
    
}

.btn-svg::before{
    content: none;
    
}