.result-trans{
    position: relative;
    margin: 10px 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px  #F2F2F2;
    border-radius: 12px;
    padding: 0 15px 30px 15px;

    &__item {
        border-bottom: 1px solid #F2F2F2;
        padding: 15px 0;
    }

    &__pla-hol {
        display: block;
        margin-bottom: 4px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #BBBBBB;
    }
    &__text {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: #000000;
    }

}

